.boutonTactile
{
	height: 100px;
	color: white;
	background: #fca413;
	border: 1px solid #b07211
}
.boutonTactile:active
{
	background: #c77e05
}
.total, .somme
{
	font-size: 18px;
	margin-top: 40px;
	font-weight: bold;
	padding: 7px;
	border: 1px solid #dadada
}
.totalNumber, .sommeGlobale
{
	font-size: 18px;
	margin-top: 40px;
	font-weight: bold;
	padding: 7px;
}
.ligne
{
	padding-bottom: 7px;
	padding-top: 7px;
	border-bottom: 1px solid #dadada;
}
.option button
{
	border: 1px solid #006dac;
	background: #269ad3;
	border-radius: 4px;
	color: white;
	margin-bottom: 5px;
	padding: 10px 0px;
}

.option button:active
{
	background: #1b678e;
}
#blackScreen
{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.7);
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 100000000;
}
#formRemisePourcent, #formRemiseEur, #formPaiementCash, #formPaiementCard, #formPaiementBancontact, #formEnded
{
	position: fixed;
	width: 300px;
	height: 150px;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 10000000000;
	display: none;
	text-align: center;
}
.validateForm
{
	padding: 10px;
	border-radius: 4px; 
	margin-left: 7px;
	background: #008ec2;
	border: none;
	color: white;
}
.ligne .col-xs-6, .ligne .col-xs-3
{
	font-family: 'Courier New', Courier, modern, monospace !important;
	font-size: 10px;
}
#ticketContainer 
{
	font-size: 10px !important;
	padding: 0px !important;
	border: none !important;
	height: auto !important;
}
@media print{
	#ticketContainer 
	{
		font-size: 10px !important;
		padding: 0px !important;
		border: none !important;
		height: auto !important;
	}
	.ligne .col-xs-6, .ligne .col-xs-3
	{
		padding: 0 !important;
		font-size: 10px;
		font-weight: bold;
		font-family: 'Courier New', Courier, modern, monospace !important;
	}
	.ligne
	{
		padding: 7px 0px !important;
	}
}
/* 043859499168 */