.cart
{
	border-bottom: solid 1px #ccc;
	margin-top:10px;
}
#creditCard
{
	width: 100px;
	background: transparent;
	border: none;
}
.card
{
	position: absolute;
	left: 0;
	top: 0;
	transform-origin: right center;
}
.visa
{
	transition: linear .2s;
	transition-delay: 0;
	
}
.mastercard
{
	transition: linear .2s;
	transition-delay: 0s;
}
.americanexpress
{
	transition: linear .2s;
	transition-delay: 0s;
}
#creditCard:hover .visa
{
	transform: rotateZ(-50deg);
}
#creditCard:hover .mastercard
{
	transform: rotateZ(50deg);
}
#creditCard:hover .americanexpress
{
	transform: rotateZ(-100deg);
}
.bancontactForm
{
	float: left;
}
.creditCardForm
{
	float: left; 
	margin-left: 15px;
	height: 1px;
	margin-top: -10px;
}
.idealForm,
.sofortForm
{
	float: left;
	margin-left: 15px;
	margin-top: 0px;
}
form button img
{
	
	width: 120px !important;
}

.breadcrumb {
    padding: 0px !important;
	background: #D4D4D4 !important;
	list-style: none; 
	overflow: hidden;
    margin-top: 20px;
}
.breadcrumb>li+li:before {
	padding: 0;
}
.breadcrumb li { 
	float: left; 
}
.breadcrumb li.active a {
	background: brown;                   /* fallback color */
	background: #337ab7 ; 
}
.breadcrumb li.completed a {
	background: brown;                   /* fallback color */
	background: hsla(153, 57%, 51%, 1); 
}
.breadcrumb li.active a:after {
	border-left: 30px solid #337ab7 ;
}
.breadcrumb li.completed a:after {
	border-left: 30px solid hsla(153, 57%, 51%, 1);
} 

.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 45px;
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(0, 0%, 83%, 1);
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumb li:first-child a {
	padding-left: 15px;
}
.breadcrumb li a:hover { background: #337ab7  ; }
.breadcrumb li a:hover:after { border-left-color: #337ab7   !important; }