label
{
	text-align: right;
	margin-top: 15px;
}
select
{
	margin-top: 10px;
}
ul li
{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dadada;
}
ul li:last-child
{
	border: none;
}
.deleteInput
{
	display: inline-block;
	padding: 3px;
/* 	background-color: red; */
	
	color: #ababab;
	border: 1px solid #ababab;
	border-radius: 4px;
	text-align: center;
/* 	float: right; */
	line-height: 17px;
	font-weight: lighter;
	margin-left: 20px;
	transition: linear .2s;
	text-align: center;
	font-size: 14px;
}
ul
{
}
.type
{
	font-style: italic;
	color: #dadada;
}
.deleteInput:hover
{
	background-color: #de594d;
	color: white;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #de594d;
}
.createPage:hover
{
	text-decoration: none;
	color: white;
	background-color: #59c964;
}
.deleteInput img
{
	height: 8px;
	-webkit-filter: brightness(100%);
}